<h2>Post Page</h2>
Title: <span class="inline-edit title"><%= post.escape('title') %></span><br>
Body: <span class="inline-edit body"><%= post.escape('body') %></span><br>
<button class="delete">Delete This Post</button>
